.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: #f1f1f1;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block-block;
}

.logo {
  height: 40px;
  width: 90px;
  background-image: url(../../resources/images/viu.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 40px;
}
.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
