/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@import '~bootstrap/dist/css/bootstrap.min.css';
/* -------------------------------------
	Project Name : UJM
	File name : ujm-styles.css
	File type : css / stylesheet
	Created By : Sudhir Deolalikar
------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700');

/*
font-family: 'Libre Franklin', sans-serif;
*/

/* -------------------------------------
Icon Font
------------------------------------- */
@font-face {
  font-family: 'ujm';
  src: url('/resources/fonts/ujm.eot');
  src: url('/resources/fonts/ujm.eot?#iefix') format('embedded-opentype'),
    url('/resources/fonts/ujm.woff') format('woff'),
    url('/resources/fonts/ujm.ttf') format('truetype'),
    url('/resources/fonts/ujm.svg#ujm') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class*=' ujm-']:before,
[class^='ujm-']:before,
[data-icon]:before {
  font-family: ujm !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-variant: normal !important;
  text-transform: none !important;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-icon]:before {
  content: attr(data-icon);
}
.ujm-search:before {
  content: '\61';
}
.ujm-angle-down:before {
  content: '\62';
}
.ujm-angle-left:before {
  content: '\63';
}
.ujm-angle-right:before {
  content: '\64';
}
.ujm-angle-up:before {
  content: '\65';
}
.ujm-android-add:before {
  content: '\66';
}
.ujm-android-close:before {
  content: '\67';
}
.ujm-android-done:before {
  content: '\68';
}
.ujm-android-remove:before {
  content: '\69';
}
.ujm-check-square:before {
  content: '\6a';
}
.ujm-square-line:before {
  content: '\6b';
}
.ujm-check-sign-in-a-square:before {
  content: '\6e';
}
.ujm-blank-check-box:before {
  content: '\6f';
}
.ujm-basic-square:before {
  content: '\6c';
}
.ujm-caret-down-two:before {
  content: '\6d';
}
.ujm-caret-up-two:before {
  content: '\70';
}
.ujm-caret-up-down:before {
  content: '\71';
}
.ujm-copy:before {
  content: '\73';
}
.ujm-delete:before {
  content: '\74';
}
.ujm-exchange:before {
  content: '\72';
}
.ujm-icon:before {
  content: '\75';
}
.ujm-ios-circle-outline:before {
  content: '\76';
}
.ujm-checkmark-circled:before {
  content: '\77';
}
.ujm-shape:before {
  content: '\78';
}
.ujm-edit:before {
  content: '\79';
}

/* -------------------------------------
Default Styles
------------------------------------- */
body,
html {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  line-height: 24px;
  vertical-align: baseline;
  color: #646464;
  background-color: #f7f9fb;
  height: 100%;
}
a,
a:hover {
  text-decoration: none;
}

.p21-main-container {
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
}
.p21-body,
.p21-footer {
  padding: 10px;
  position: relative;
}

.p21-block-structure {
  padding: 60px 0px;
  position: relative;
}

.p21-heading-md {
  border-bottom: 1px dashed #e9e9e9;
  color: #333333;
  display: block;
  font-size: 18px;
  margin: 0 0 15px;
  padding: 15px 0;
}

.p21-heading-sm {
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 10px;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
}

.create__sect,
.search__sect {
  float: right;
  display: inline-block;
  vertical-align: middle;
}
.create__sect {
  margin-left: 20px;
}
.search__sect .input--search {
  width: 239px;
  height: 40px;
  background: #ffffff url(/app/resouces/images/search.png) 15px 11px no-repeat;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 10px 10px 10px 40px;
  font-size: 14px;
  line-height: 1.43;
  color: #6d727f;
  outline: none;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}

/* ------------------------------------
Buttons
---------------------------------------*/
.btn-container {
  margin: 15px 0px;
  position: relative;
}
.action-btn {
  background-color: #767676;
  border: 0px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  width: 25px;
  margin-right: 6px;
  padding: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.btn {
  position: relative;
  z-index: 11;
  display: inline-block;
  height: 40px;
  padding: 10px;
  text-align: center;
  min-width: 128px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  outline: none;
  margin-right: 16px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
.btn-primary {
  background-color: #5269e2;
  border-color: #5269e2;
  cursor: pointer;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background-color: #5269e2;
  border-color: #5269e2;
  outline: none;
}
.btn[disabled] {
  background-color: #f5f7f9;
  color: #6d727f;
  border-color: #f5f7f9;
}
.btn[disabled]:hover {
  background-color: #f5f7f9;
  border-color: #f5f7f9;
}
.btn-link {
  color: #52565f;
  text-decoration: none;
}
/* ------------------------------------
Table
---------------------------------------*/
.p21-table-component {
  display: block;
  position: relative;
}
.p21-table-component .table {
  border: 0;
  margin-bottom: 0px !important;
}
.p21-table-component table.dataTable {
  margin: 0;
  border-collapse: collapse !important;
}
.p21-table-component .table th {
  background-color: #ffffff;
  border: 0px none;
  color: #6d727f;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  border-bottom: 1px solid rgba(200, 207, 216, 0.4);
  padding: 2px 10px 17px;
}
.p21-table-component .table td {
  border-bottom: 1px solid rgba(150, 156, 171, 0.05);
  color: #838383;
  font-size: 14px;
  font-weight: 300;
  line-height: 1;
  padding: 22px 10px;
}
.p21-pagination {
  margin-bottom: 20px;
}
.p21-pagination .pagination {
  margin: 10px 0 0;
  float: right;
}
.p21-pagination .pagination li > a {
  color: #57abcf;
}
.p21-pagination .pagination li.active > a,
.pagination > .active > a {
  background: #57abcf;
  border-color: #57abcf;
  color: #ffffff;
}
.p21-table-component .title-span {
  font-weight: 500;
  color: #333333;
}
.p21-table-component td .form-control {
  width: 100%;
}

.cleanTable.table > tbody > tr > td {
  border: 0px;
  padding: 5px 5px 8px;
}
.cleanTable td .form-group {
  margin: 0px;
}

/* ------------------------------------
Header
---------------------------------------*/

.p21-heading-component::before {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: '';
  height: 2px;
  left: 50%;
  margin: -1px 0 0 -50px;
  position: absolute;
  width: 80px;
}

.p21-heading-component {
  color: #ffffff;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 45px;
  font-weight: 300;
  margin: 0 0 25px;
  padding: 0 0 15px;
  position: relative;
  text-align: center;
}
.mean-container .mean-nav {
  position: absolute;
  top: 50px;
}

/* ------------------------------------
Dashboard
---------------------------------------*/
.wrapper_container {
  height: 100%;
  min-width: 760px;
  position: relative;
  width: 100%;
}
.p21-d-sidebar {
  background: #ffffff none repeat scroll 0 0;
  height: 100%;
  position: fixed;
  width: 170px;
  z-index: 20;
  border-right: solid 1px #eef1f5;
  padding-bottom: 50px;
}
.p21-d-sidebar-cont {
  height: 100%;
  width: 100%;
}
.p21-d-sidebar .c-login-dd {
  border-top: solid 1px rgba(150, 156, 171, 0.1);
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ffffff;
  height: 44px;
  width: 100%;
  padding: 10px 25px;
}
.p21-d-sidebar .c-login-dd .login-btn {
  border: 0;
  background-color: transparent;
  display: block;
  height: 23px;
  width: 120px;
  padding: 0;
  outline: none;
}
.p21-d-sidebar .c-login-dd .login-btn .icon,
.p21-d-sidebar .c-login-dd .login-btn span {
  display: inline-block;
  vertical-align: middle;
  float: left;
  color: #6d727f;
}
.p21-d-sidebar .c-login-dd .login-btn .icon.ico-user {
  height: 23px;
  width: 24px;
  font-size: 21px;
  line-height: 20px;
  margin-right: 5px;
}
.p21-d-sidebar .c-login-dd .login-btn .icon.ico-up {
  height: 18px;
  width: 15px;
  font-size: 15px;
  line-height: 10px;
  margin-left: 5px;
  margin-top: 3px;
}
.p21-d-sidebar .c-login-dd .login-btn span {
  font-size: 11px;
  line-height: 1;
  text-align: left;
  margin-top: 6px;
  max-width: 71px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.c-login-options {
  display: none;
  position: absolute;
  top: -50px;
  left: 12px;
  width: 180px;
  padding: 15px;
  background: #ffffff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
.user-opt {
  display: block;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #5269e2;
  text-decoration: none;
}
.c-login-dd.open .c-login-options {
  display: block;
}

.p21-d-sidebar .logo_Container {
  background-color: #ffffff;
  display: block;
  padding: 34px 45px;
  height: 98px;
  text-align: center;
}
.logo_Container img {
  display: inline-block;
  max-height: 30px;
  position: relative;
  vertical-align: middle;
  width: 79px;
}

.p21-d-databody {
  display: block;
  position: relative;
  margin-left: 170px;
  height: 100%;
}
.p21-d-databody .p21-db-header {
  display: block;
  padding: 34px 41px 0;
}

.p21-d-databody .p21-db-header .page-title {
  display: block;
  text-align: left;
}
.p21-d-databody .p21-db-header .page-title .main--title,
.p21-d-databody .p21-db-header .page-title .sub--title {
  display: block;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #6d727f;
  margin: 9px 0;
}
.p21-d-databody .p21-db-header .page-title .sub--title {
  margin-bottom: 0;
  font-weight: 400;
}

.p21-d-databody .p21-db-data {
  display: block;
  padding: 12px 41px;
  background-color: #f7f9fb;
}
.data-container {
  background-color: #ffffff;
  min-height: 548px;
  padding: 16px 40px 40px;
  border-radius: 7.6px;
  -moz-border-radius: 7.6px;
  -webkit-border-radius: 7.6px;
  box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 9px 19px 0 rgba(0, 0, 0, 0.05);
}

.container-350,
.container-610 {
  display: block;
  min-height: 350px;
  position: relative;
  margin-bottom: 35px;
}
.container-610 {
  min-height: 610px;
}
.form-cont {
  padding: 20px 40px 20px 24px;
  float: left;
  margin-right: 40px;
  width: calc(100% - 320px);
  max-height: 100%;
}
.check-cont {
  padding: 20px 24px;
  float: left;
  width: 280px;
  max-height: 100%;
}
/* ------------------------------------
Form Elements
---------------------------------------*/
.dynamic-row {
  margin-bottom: 24px;
  position: relative;
}

.dynamic-row .del-row {
  opacity: 0;
  visibility: hidden;
  display: inline-block;
  border: 0;
  position: absolute;
  top: 0;
  right: -25px;
  height: 25px;
  width: 25px;
  background: transparent;
  padding: 0;
  text-align: center;
  outline: none;
  transition: all ease 0.3s;
}
.dynamic-row .del-row .icon {
  color: #999999;
  display: inline-block;
  font-size: 20px;
  line-height: 17px;
  vertical-align: middle;
}
.dynamic-row:hover .del-row {
  opacity: 1;
  visibility: visible;
}
.comp-heading {
  display: block;
  margin-bottom: 17px;
  line-height: 0;
  position: relative;
}
.field-title,
.field-sub-title {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #6d727f;
  position: relative;
}
.field-sub-title {
  font-size: 14px;
}
.field-title .error-msg,
.field-title .error-msg-left {
  display: none;
  position: absolute;
  left: calc(100% + 20px);
  top: -5px;
  min-width: 150px;
  text-align: center;
  background-color: #5269e2;
  color: #ffffff;
  border: 0;
  opacity: 1;
  padding: 7px 12px;
  height: 26px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.field-title.show-error-left .error-msg {
  left: auto;
  right: calc(100% + 20px);
}

.field-title .error-msg:before,
.field-title.show-error-left .error-msg:before {
  content: '';
  position: absolute;
  left: -7px;
  top: 8px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 7px solid #5269e2;
  border-bottom: 5px solid transparent;
}
.field-title.show-error-left .error-msg:before {
  right: -7px;
  left: auto;
  border-right: 0;
  border-left: 7px solid #5269e2;
}

.field-title.show-error .error-msg,
.field-title.show-error-left .error-msg {
  display: block;
}
.field-block {
  margin-bottom: 15px;
}
.fld-txt {
  border: 0;
  border-bottom: solid 1px #dedede;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #6d727f;
  line-height: 16px;
  outline: none;
  padding-bottom: 7px;
}
.fld-txt::placeholder {
  color: #eeeeee;
}

.material-dd button {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #dedede;
  display: block;
  color: #6d727f;
  font-size: 16px;
  padding: 0 20px 2px 0;
  outline: none;
  margin: 0;
  position: relative;
  width: 100%;
  text-align: left;
}
.material-dd button > .icon {
  position: absolute;
  height: 12px;
  width: 12px;
  font-size: 15px;
  color: #6d727f;
  top: 5px;
  right: 5px;
  line-height: 7px;
  display: inline-block;
}

.material-dd .dropdown-menu {
  padding: 8px 16px;
  border: 0;
  top: -3px;
  min-width: 100%;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}
.material-dd .dropdown-menu li {
  display: block;
}
.material-dd .dropdown-menu li a {
  background-color: #ffffff;
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #6d727f;
  padding: 8px 0;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.material-dd .dropdown-menu li a:hover {
  color: #5269e2;
}

.c-more-btn .c-addnew {
  background: #ffffff;
  border: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: left;
  color: #5269e2;
  min-width: 80px;
  text-align: center;
  line-height: 20px;
  padding: 0;
}

/* ------------------------------------
Graph Widget
---------------------------------------*/
.p21-widget-block {
  background: #fdfdfd none repeat scroll 0 0;
  margin-bottom: 30px;
  min-height: 250px;
  padding: 10px 0;
  position: relative;
  width: 100%;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: 0 0 3px #bbbbbb;
  -moz-box-shadow: 0 0 3px #bbbbbb;
  -webkit-box-shadow: 0 0 3px #bbbbbb;
}
.p21-widget-content {
  display: block;
}
.modal-dialog.modal-md {
  width: 450px;
}

.data-tab-controlls {
  background-color: #ffffff;
  border: 1px solid #f0f0f0;
  border-top-color: rgba(200, 207, 216, 0.4);
  display: block;
  position: relative;
  margin-bottom: 12px;
  height: 52px;
  padding: 16px 10px;
  border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
}

.data-tab-controlls .dataTables_length,
.data-tab-controlls .dataTables_info,
.data-tab-controlls .dataTables_paginate {
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}
.data-tab-controlls .dataTables_length label,
.data-tab-controlls .dataTables_info {
  display: block;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #6d727f;
}
.data-tab-controlls .dataTables_length label {
  margin: 0;
}
.dataTables_wrapper .data-tab-controlls .dataTables_info {
  display: inline-block;
  padding-top: 3px;
}
.data-tab-controlls .dataTables_paginate .pagination > li > a,
.data-tab-controlls .dataTables_paginate .pagination > li > span {
  background-color: transparent;
  color: #969cab;
  padding: 0 3px;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
  border: 0;
  line-height: 12px;
}
.data-tab-controlls .dataTables_paginate {
  padding-top: 3px;
}
.dataTables_wrapper .data-tab-controlls .dataTables_paginate .pagination {
  display: block;
  padding: 0;
  margin: 0;
  height: 12px;
}
.data-tab-controlls .dataTables_paginate .pagination > li:first-child a {
  padding-right: 5px;
  margin-right: 3px;
  border-right: 2px solid #eeeeee;
}
.data-tab-controlls .dataTables_paginate .pagination > li:last-child a {
  padding-left: 5px;
  margin-left: 3px;
  border-left: 2px solid #eeeeee;
}
.data-tab-controlls
  .dataTables_paginate
  .p21-pagination
  .pagination
  li.active
  > a,
.data-tab-controlls .dataTables_paginate .pagination > .active > a {
  border: 0;
  background-color: transparent;
  font-weight: 600;
  color: #333333;
}

.dataTables_wrapper .data-tab-controlls .dataTables_length select {
  padding: 1px;
  width: 45px;
  font-size: 9px;
  height: 18px;
  line-height: 18px;
}

.data-tab-table {
  background: #ffffff;
  border: 1px solid #f0f0f0;
  border-bottom: 0;
  min-height: 250px;
  padding: 10px 0 0;
  position: relative;
  width: 100%;
  border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}
/* ------------------------------------
Sidebar
---------------------------------------*/
.p21-menu_Container {
  display: block;
  position: relative;
}
.p21-menu_Container .link {
  border-left: 4px solid transparent;
  display: block;
  position: relative;
  padding: 15px 35px;
  height: 100px;
  text-align: center;
  text-decoration: none;
  transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -webkit-transition: all ease 0.4s;
}
.p21-menu_Container .link .icon-img {
  background-size: 25px;
  background-repeat: no-repeat;
  color: #6d727f;
  display: inline-block;
  font-size: 27px;
  height: 27px;
  margin-bottom: 4px;
  width: 27px;
  vertical-align: middle;
}
.p21-menu_Container .link .icon-img.i-dashboard {
  background-image: url(/app/resouces/images/icon-dashboard.png);
}
.p21-menu_Container .link .icon-img.i-User {
  background-image: url(/app/resouces/images/icon-user.png);
}
.p21-menu_Container .link .icon-img.i-policy {
  background-image: url(/app/resouces/images/icon-policy.png);
}
.p21-menu_Container .link .icon-img.i-journy {
  background-image: url(/app/resouces/images/icon-journy.png);
}
.p21-menu_Container .link .icon-img.i-assoc {
  background-image: url(/app/resouces/images/icon-assoc.png);
}

.p21-menu_Container .link span {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #6d727f;
}
.p21-menu_Container .link:hover,
.p21-menu_Container .link.active {
  border-left-color: #5269e2;
}

/* ------------------------------------
Custome Checkbox
---------------------------------------*/

label.custome-field {
  cursor: pointer;
  font-weight: normal;
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  line-height: 20px;
  height: 18px;
  width: 0;
  overflow: hidden;
  transition: ease all 0.1s;
  -moz-transition: ease all 0.1s;
  -webkit-transition: ease all 0.1s;
}
label.custome-field i {
  color: rgba(79, 94, 94, 0.3);
  font-style: normal;
  height: 18px;
  margin-top: -2px;
  display: inline-block;
  font-size: 18px;
  float: left;
  position: relative;
}
label.field-checkbox input[type='checkbox'] + i:before {
  content: '\76';
}
label.field-checkbox input[type='checkbox']:checked + i:before {
  content: '\77';
}
label input[type='checkbox'] {
  display: none;
  padding-left: 0px;
}
label input[type='checkbox'] + i:before {
  font-family: 'ujm';
  height: 18px;
  width: 18px;
  display: inline-block;
}
label input[type='checkbox']:checked + i {
  position: relative;
  color: #5269e2;
}

/* ------------------------------------
Data Table
---------------------------------------*/
.table-holder {
  position: relative;
  display: block;
}
.info-tooltip {
  display: block;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 50px;
  height: 52px;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  z-index: 3;
  background-color: #ffffff;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  transition: all ease 0.4s;
}
.info-tooltip.show {
  opacity: 1;
  visibility: visible;
}
.info-tooltip .t-number,
.info-tooltip .t-msg,
.info-tooltip .t-action,
.info-tooltip .t-close {
  display: inline-block;
  float: left;
}

.info-tooltip .t-number {
  padding: 14px 0;
  text-align: center;
  line-height: 24px;
  font-size: 24px;
  color: #ffffff;
  width: 63px;
  background-color: #5269e2;
  border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
}
.info-tooltip .t-msg {
  padding: 18px 12px;
  text-align: left;
  line-height: 16px;
  font-size: 16px;
  color: #6d727f;
  width: 500px;
}
.info-tooltip .t-action {
  padding: 12px;
  text-align: center;
  line-height: 28px;
  width: 272px;
}
.info-tooltip .t-action > button,
.info-tooltip .t-close > button {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 0;
  background: #ffffff;
  vertical-align: middle;
  padding: 0;
  margin: 0 20px;
  outline: none;
}
.info-tooltip .t-close {
  padding: 12px;
  text-align: center;
  line-height: 28px;
  width: 65px;
  border-left: 1px solid #eeeeee;
}
.info-tooltip .t-close button {
  margin: 0;
}
.info-tooltip .t-close button .icon,
.info-tooltip .t-action > button .icon {
  display: block;
  font-size: 19px;
  line-height: 15px;
  color: #999999;
}

.dataTabletype-2 tbody tr td {
  position: relative;
}
.dataTabletype-2 tbody tr:hover td,
.dataTabletype-2 tbody tr.selectedRow td {
  background-color: #fafbfd;
}

.dataTabletype-2 tbody tr:hover td:first-child .custome-field,
.dataTabletype-2 tbody tr.selectedRow td:first-child .custome-field {
  width: 30px;
}
.dataTabletype-2 tbody tr:hover td:first-child .c-td-name,
.dataTabletype-2 tbody tr.selectedRow td:first-child .c-td-name {
  left: 30px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
  position: relative;
  top: 2px;
  left: 5px;
  font-family: 'ujm';
  opacity: 0.4;
  display: inline-block;
  font-size: 12px;
}
.dataTabletype-2 tbody tr td {
  position: relative;
}
.dataTabletype-2 tbody tr td > div.elipsText {
  display: inline-block;
  position: absolute;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 0 10px;
}
.dataTabletype-2 tbody tr td > div.elipsText.type-2 {
  padding: 0 55px 0 10px;
}

.dataTabletype-2 tbody tr td > div.elipsText.type-2 > .morebtn {
  position: absolute;
  height: 16px;
  width: 45px;
  background: transparent;
  border: 0;
  font-size: 12px;
  right: 2px;
  line-height: 0;
  color: #5269e2;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 500;
  top: -1px;
  outline: none;
}

.c-td-name {
  position: absolute;
  left: 0;
  display: inline-block;
  width: calc(100% - 50px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -webkit-transition: all ease 0.2s;
}

.p21-d-sidebar .mCSB_container {
  margin-right: 0;
}
.p21-d-sidebar .mCSB_scrollTools {
  width: 8px;
}

.action-links {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #fafbfd;
  width: 100%;
  text-align: center;
}
.dataTabletype-2 tbody tr:hover td .action-links {
  display: block;
}
.action-links > .a-link {
  display: inline-block;
  height: 30px;
  width: 30px;
  border: 0;
  vertical-align: text-top;
  margin: 15px 5px 15px 0;
  padding: 0;
}
.action-links > .a-link .icon {
  display: block;
  font-size: 20px;
  color: rgba(109, 114, 127, 0.6);
  text-align: center;
  line-height: 18px;
  margin: 4px 0;
}

.action-links .tooltip.in {
  opacity: 1;
}
.action-links .tooltip-arrow {
  display: none;
}
.action-links .tooltip .tooltip-inner {
  opacity: 1;
  color: #999999;
  background-color: #fafbfd;
  border: solid 1px rgba(82, 86, 95, 0.25);
  padding: 3px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

/* ------------------------------------
Custome Modal
---------------------------------------*/
.c-cust-modal.modal-sm {
  width: 340px;
}
.c-cust-modal .modal-header {
  border: 0;
}
.c-cust-modal .modal-header .close {
  line-height: 21px;
  font-size: 40px;
  font-weight: lighter;
}
.c-cust-modal .modal-body {
  padding: 15px 32px 24px;
}
.c-icon {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.c-icon-place {
  display: block;
  margin: 0 auto 8px;
  height: 37px;
  width: 48px;
  text-align: center;
}
.c-icon-place .icon {
  display: block;
  color: #999999;
  font-size: 40px;
  line-height: 20px;
}
.c-icon-text {
  display: block;
  font-size: 22px;
  line-height: 1;
  color: #6d727f;
}
.c-assoc-listing {
  display: block;
}
.c-assoc-listing ul {
  padding: 0;
  margin: 0;
  display: block;
}
.c-assoc-listing ul li {
  display: block;
  padding: 5px 0;
  margin-bottom: 14px;
}
.c-assoc-listing ul li a {
  color: #6d727f;
  display: block;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
}

/* ------------------------------------
Tooltip White
---------------------------------------*/
.tooltip-arrow {
  display: none;
}
.tooltip > .tooltip-inner {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ccc;
  opacity: 1;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.comp-heading .tooltip {
  z-index: 20;
  top: 0 !important;
}
.comp-heading .tooltip-arrow {
  display: block;
}
.comp-heading .tooltip.right .tooltip-arrow {
  border-right-color: #5269e2;
}
.comp-heading .tooltip.left .tooltip-arrow {
  border-left-color: #5269e2;
}
.comp-heading .tooltip > .tooltip-inner {
  background-color: #5269e2;
  color: #ffffff;
  border: 0;
  opacity: 1;
  padding: 7px 12px;
  height: 26px;
  line-height: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* ------------------------------------
Misc Styles
---------------------------------------*/
.check-options {
  max-height: 280px;
}

.b-crums {
  display: block;
  height: 10px;
  margin-bottom: 50px;
  text-align: right;
}
.b-crums ul {
  margin: 0;
  padding: 0;
  display: block;
  float: right;
  line-height: 10px;
}
.b-crums ul li {
  display: inline-block;
  padding-right: 12px;
  margin-right: 12px;
  position: relative;
}
.b-crums ul li:last-child {
  padding-right: 0;
  margin-right: 0;
}
.b-crums ul li:not(:last-child):after {
  font-family: 'ujm';
  content: '\64';
  color: #b7bdcc;
  font-size: 13px;
  position: absolute;
  top: -0.5px;
  right: -7px;
  line-height: 10px;
}
.b-crums ul li a {
  display: block;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #b7bdcc;
  text-transform: uppercase;
}
.b-crums ul li:first-child a {
  color: #5269e2;
}

.blank-data-container {
  position: relative;
  padding: 24px;
  margin-bottom: 16px;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.blank-data-container .div-btn-del {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  height: 30px;
  width: 30px;
  top: 10px;
  right: 10px;
  border: 0;
  background: transparent;
  z-index: 5;
  text-align: center;
  padding: 0;
  outline: none;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}

.blank-data-container .div-btn-del .icon {
  color: #999999;
  display: inline-block;
  line-height: 20px;
  font-size: 20px;
  vertical-align: middle;
}

.blank-data-container:hover .div-btn-del {
  opacity: 1;
  visibility: visible;
}

.c-btn-option {
  margin-bottom: 50px;
}
.c-btn-option .btn-option {
  background: transparent;
  border: 1px solid #eeeeee;
  display: inline-block;
  position: relative;
  height: 70px;
  width: calc(50% - 14px);
  margin: 10px 6px;
  padding: 15px 20px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: center;
  color: #6d727f;
  outline: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
}
.c-btn-option .btn-option.selected:before {
  font-family: 'ujm';
  content: '\77';
  position: absolute;
  top: -10px;
  left: 50%;
  height: 20px;
  width: 20px;
  background: #ffffff;
  margin-left: -10px;
  color: #5269e2;
  font-size: 23px;
  line-height: 20px;
  border-radius: 60px;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
}
.c-btn-option .btn-option.selected {
  border-color: #5269e2;
  color: #5269e2;
}

/* -------------------------------------------------
      Component :: Radio / Check box
---------------------------------------------------- */
@-webkit-keyframes icon-beat {
  0% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes icon-beat {
  0% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes icon-beat {
  0% {
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

label.custome-check {
  cursor: pointer;
  font-weight: normal;
  margin: 0px 0px 18px;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  display: block;
  position: relative;
}
label.custome-check i {
  color: #d4d4d4;
  font-style: normal;
  height: 20px;
  margin-top: 1px;
  display: inline-block;
  font-size: 21px;
  float: left;
  position: relative;
  line-height: 20px;
}
label.custome-check span {
  margin: -2px 0 0 12px;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  color: #6d727f;
}
label.custome-check input[type='checkbox'] + i:before {
  content: '\76';
}
label.custome-check input[type='checkbox']:checked + i:before {
  content: '\77';
  color: #5269e2;
}
label input[type='checkbox'] {
  display: none;
  padding-left: 0px;
}

label.custome-check input[type='checkbox'] + i:before {
  font-family: 'ujm';
  height: 20px;
  width: 20px;
  display: inline-block;
}

label.custome-check input[type='checkbox']:checked + i {
  position: relative;
  -webkit-animation: icon-beat 0.1s ease;
  -moz-animation: icon-beat 0.1s ease;
  -ms-animation: icon-beat 0.1s ease;
  -o-animation: icon-beat 0.1s ease;
  animation: icon-beat 0.1s ease;
}

label.custome-check input[type='checkbox']:checked + i + span {
  transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
}

.nopad {
  padding: 0;
}
.pad10 {
  padding: 10px;
}
.pad10-bottom {
  padding-bottom: 10px;
}
.margin0 {
  margin: 0px;
}
.margin10-bottom {
  margin-bottom: 10px;
}
.margin20-bottom {
  margin-bottom: 20px;
}
.margin30-bottom {
  margin-bottom: 30px;
}
.margin50-bottom {
  margin-bottom: 50px;
}

.main-content {
  margin-left: 240px; /* Same as the width of the sidenav */
  /* font-size: 28px;  Increased text to enable scrolling */
  padding: 20px 30px;
}
